.content {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.content h1 {
    font-size: 2em;
    color: cadetblue;
}

.illustration {
    text-align: center;
}
