input[type=text], input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: cadetBlue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
}

input[type=submit]:hover {
    background-color: #8fbbbc;
}

.inlineForm input{
  display: inline-block;
  width: 20%;
}

.inlineForm input[type=submit]{
    background-color: #436e70;
}

.inlineForm label{
  width: 20%;
}
