header {
    background-color: cadetblue;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> d9a6600c411860ca7f7a995998bd649fb61bad8c
}

header>img {
    vertical-align: middle;
<<<<<<< HEAD
}

#loginForm {
    background-color: cadetblue;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    display:none;
    border-top: 1px white solid;
=======
>>>>>>> d9a6600c411860ca7f7a995998bd649fb61bad8c
}