header {
    background-color: cadetblue;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
}

header>div>img {
    vertical-align: middle;
}

header>div>span {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

