@media screen and (max-width:800px) {
    nav>ul>li {
        float: none;
    }

    .userManage {
        float: none;
    }

    header>div>span {
        font-size: 1em;
    }

    header>div>img {
        width: 10%;
    }

    header>div {
        text-align: center;
    }

    .content {
        font-size: 0.7em;
        padding-right: 10%;
        padding-left: 10%;
    }

    .content img {
        width: 75%;
    }

    .content input {
        width: 100%;
    }

    #loginForm input {
        display: block;
        width: 100%;
        font-size: 0.7em;
    }

    #loginForm label {
        font-size: 0.7em;
    }

    #loginForm {
        border-top: white 2px solid;
        padding-bottom: 2%;
    }

}