html, body {
    font-family: Arial;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 1em;
    height: 100%;
}

.header {
    background-color: cadetblue;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
}

.content {
    position: relative;
}

.menuoptions {
    background-color: cadetblue;
    color: white;
    font-size: 2em;
    padding-left: 15%;
    padding-right: 15%;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
}

.footer {
    background-color: cadetblue;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: bottom;
    text-align: center;
}

#titre {
    font-size: 2em;
}

.header>img {
    vertical-align: middle;
}

.menuitem>a {
    color: white;
    text-decoration: none;
}

.menuitem>a:hover {
    background-color: white;
    color: cadetblue;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menuitem>form {
    float: right;
}

.content {
    padding-top: 3%;
    padding-bottom: 3%;
}
