@import "header.css" screen;
@import "nav.css" screen;
@import "home.css" screen;
@import "footer.css" screen;

html, body {
    font-family: Arial;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 1em;
    height: 100%;
    background-image: url("../images/background.png");
}